#Benvenuto{
    font-size: xx-large;
}

#no_register{
    Margin-top: 100px;
}

#accedi{
    float:right;
  
}

#cod_fiscale_cerca{
    margin-top: 220px;
}

#prenota{
    margin-top: 100px;
}
